{% extends 'base.html' %} 
{% load static %}
{% block content %}


<div class="d-flex flex-wrap px-5 pt-3 align-items-center">

  <div class="col-6">
    <h1>Let’s find your perfect car..</h1>
    <p>Welcome to CarHub – your ultimate destination for convenient, affordable, and reliable car rental services. Whether you’re planning a road trip, need a ride for business, or just want to explore the city with style, we’ve got you covered!</p>
  </div>
  <div class="col-6">
    
    <img src="{% static 'header2.jpg' %}" class="img-fluid" alt="Header Image" />

  </div>
</div>



<div class="d-flex flex-wrap p-4">
  <div class="col-2 bg-white p-3">
    <h5>All Companies</h5>
    {% for company in companies %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="company" id="{{ company.id }}" />
        <label class="form-check-label" for="{{ company.id }}">
            <a href="{% url 'company_wise_post' company.slug %}" class="text-decoration-none text-dark">{{ company.name }}</a>
        </label>
    </div>
    {% endfor %}
</div>
  <div class="col-10 p-3">
    <h4>{{data | length}} results found</h4>
    <div class="d-flex flex-wrap pt-5">
      {% for post in data %}
      <div class="col-sm-3">
        <div class="card m-2">
          <div class="card-body">
            <img src="{{post.image.url}}" class="card-img-top" alt="...">
            <h5 class="card-title"><a href="{% url 'detail_post' post.id %}" class="text-decoration-none text-dark">{{post.title}}</a></h5>
            <p class="card-text">{{post.content |truncatewords:10}}</p>
            <p>User : {{post.user.first_name}} {{post.user.last_name}}</p>
            <p>
              Company : {% for cat in post.company.all %}
              <button class="btn btn-primary btn-sm m-2" disabled>
                {{cat.name}}
              </button>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
